.JoinedField {
    width: 100%;
    color: #3f51b5;
}

.JoinedField:hover{
    color: black;
}

.fkField {
    color: red;
    border: 2px solid green;
}

th > span {
    font-weight: bold;
    color: #444;
}

.ext_class {
    color: red;
}

#popup-overlay {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9998;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
}

span.iconC {
    color: "rgb(63, 81, 181)"
}